<!-- Header -->
<header>
    <h1>ROBOARM</h1>

    <!-- Navigation -->
    <nav>
        <a href="/" <% if(pageTitle == 'Home') { %> class="active" <% } %> >Home</a>
        <a href="/control" <% if(pageTitle == 'Control') { %> class="active" <% } %> >Control</a>
        <a href="/about" <% if(pageTitle == 'About') { %> class="active" <% } %> >About</a>
    </nav>
</header>