<!DOCTYPE html>

<!--
Author      :  Jackson Currie
Date        :  2018-07-09
Description :  Webpage about Roboarm
-->

<html>
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/main.css">

    <!-- Title -->
    <title>Roboarm</title>
</head>
<body>
    <!-- Header -->
    <header>
        <h1>ROBOARM</h1>

        <!-- Navigation -->
        <nav>
            <a href="/">Home</a>
            <a href="/control">Control</a>
            <a href="/about" class="active">About</a>
        </nav>
    </header>

    <!-- Content -->
    <main>
        
    </main>

    <!-- Copywrite information -->
    <footer>
        <p>&copy; Jackson Currie, 2018</p>
    </footer>
</body>
</html>