<!DOCTYPE html>

<!--
Author      :  Jackson Currie
Date        :  2018-07-28
Description :  Webpage about Roboarm
-->

<html>
<head>
    <!-- Common Head -->
    <% include partials/head.ejs %>
</head>
<body>
    <!-- Common Header -->
    <% include partials/header.ejs %>

    <!-- Content -->
    <main>
        <h2><%= pageTitle %></h2>
        <p>About Roboarm.</p>
    </main>

    <!-- Common Footer -->
    <% include partials/footer.ejs %>
</body>
</html>