<!DOCTYPE html>

<!--
Author      :  Jackson Currie
Date        :  2018-07-28
Description :  Webpage to control Roboarm
-->

<html>
<head>
    <!-- Common Head -->
    <% include partials/head.ejs %>
</head>
<body>
    <!-- Common Header -->
    <% include partials/header.ejs %>

    <!-- Roboarm controls-->
    <main>
        <!-- Rotate controls -->
        <div>
            <h2>Rotate</h1>
            <button type="button" id="left">LEFT</button>
            <input type="range" min="540" max="2360" step="1" id="sliderRotate">
            <button type="button" id="right">RIGHT</button>
        </div>

        <!-- Forward/Back controls -->
        <div>
            <h2>Forward/Backwards</h2>
            <button type="button" id="back">BACK</button>
            <input type="range" min="700" max="1800" step="1" id="sliderForward">
            <button type="button" id="forward">FORWARD</button>
        </div>

        <!-- Up/Down controls -->
        <div>
            <h2>Up/Down</h2>
            <button type="button" id="down">DOWN</button>
            <input type="range" min="900" max="2100" step="1" id="sliderUp">
            <button type="button" id="up">UP</button>
        </div>

        <!-- Pinch controls -->
        <div>
            <h2>Pinch</h2>
            <button type="button" id="out">IN</button>
            <input type="range" min="1000" max="1700" step="1" id="sliderIn">
            <button type="button" id="in">OUT</button>
        </div>

        <!-- Automation -->
        <button type="button" id="automatic" onclick="automate()">Automate</button>
    </main>

    <!-- Common Footer -->
    <% include partials/footer.ejs %>
</body>
</html>