<!DOCTYPE html>

<!--
Author      :  Jackson Currie
Date        :  2018-07-09
Description :  Home webpage for roboarm
-->

<html>
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jackson Currie">
    <meta name="description" content="Website to control Roboarm">
    <meta name="keywords" content="Roboarm, Robot, Raspberry Pi">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/main.css">

    <!-- Title -->
    <title>Roboarm</title>
</head>
<body>
    <!-- Header -->
    <header>
        <h1>ROBOARM</h1>

        <!-- Navigation -->
        <nav>
            <a href="/" class="active">Home</a>
            <a href="/control">Control</a>
            <a href="/about">About</a>
        </nav>
    </header>

    <!-- Content -->
    <main>
        <h2><%= pageTitle %></h2>
    </main>

    <!-- Copywrite information -->
    <footer>
        <p>&copy; Jackson Currie, 2018</p>
    </footer>
</body>
</html>